[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "demo/third_party/glfw"]
	path = demo/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "demo/third_party/tinyobjloader"]
	path = demo/third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
