---
---

$base-font-family: 'Source Serif 4', sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: white !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@import "minima";

// ------------------------------------------------------------------------------------------------
// Main
// ------------------------------------------------------------------------------------------------

$header-color: #ff6666;
$footer-color: white;

.site-title {
    font-size: 32px;

    letter-spacing: 0;
}

.site-header {
    background-color: $header-color;
}

.site-footer {
    background-color: $footer-color;

    .footer-col-wrapper {
        color: $text-color;
    }
}
